<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
{% include "navbar.html" %}
{#Setting of init project#}
<div class="container">
    <form class="form-control">
        <div class="form-group">
            <label for="subject_name">Tên môn học</label>
            <input type="text" class="form-control" id="subject_name" placeholder="Tên môn học">
        </div>
        <div class="form-group">
            <label for="project_name">Tên đề tài</label>
            <input type="text" class="form-control" id="project_name" placeholder="Tên đề tài">
        </div>
        <div class="form-group">
            <label for="project_type">Loại dự án</label>
            <select class="form-control" id="project_type">
                <option>Web</option>
                <option>Mobile</option>
                <option>Desktop</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Khởi tạo dự án</button>


        {#Mức độ hoàn thành dự án        #}
        <div class="form-group">
            <label for="project_level">Mức độ hoàn thành dự án</label>
            <select class="form-control" id="project_level">
                <option>Cơ bản</option>
                <option>Trung bình</option>
                <option>Nâng cao</option>
            </select>
    </form>
</div>


{% include 'footer.html' %}
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/bs-init.js"></script>
<script src="../static/js/bold-and-dark.js"></script>
</body>

</html>