<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>
<body>
{% include 'macros/navbar.html' %}
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input checked type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio1">Thực hiện</label>

    <input onclick="document.location.href='{{ url_for('main.phancong') }}'" type="radio" class="btn-check"
           name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Phân công</label>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                <a class="navbar-brand" href="#">Navbar</a>
                <nav class="nav nav-pills flex-column">
                    <!--                    Tổng quan về hệ thống-->
                    <a class="nav-link" href="#item-1">Tổng quan hệ thống</a>
                    <!--                    Xác định yêu cầu-->
                    <a class="nav-link" href="#item-2">Xác định yêu cầu</a>
                    <!--                    Phân tích và thiết kế hệ thống-->
                    <a class="nav-link" href="#item-3">Phân tích và thiết kế hệ thống</a>
                    <!--                    Lập trình và kiểm thử-->
                    <a class="nav-link" href="#item-4">Lập trình và kiểm thử</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-4-1">Lập trình</a>
                        <a class="nav-link ms-3 my-1" href="#item-4-2">Kiểm thử</a>
                    </nav>
                </nav>
            </nav>

            <!--                Offcanvas right-->
            <button class="btn btn-primary mt-1" type="button" data-bs-toggle="offcanvas"
                    data-bs-scroll="true"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> Tài liệu tham khảo
            </button>
        </div>

        <div class="col-7 bg-semi-white">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                <div>
                    <h4 id="item-1">Tổng quan hệ thống</h4>
                    <label>
                        Giới thiệu về hệ thống
                        <input type="text">
                    </label>

                    <label>
                        Mục tiêu của hệ thống
                        <input type="text">
                    </label>

                    <label>
                        Phạm vi của hệ thống
                        <!--Checkbok-->


                    </label>                <label>
                        Đối tượng sử dụng
                        <input type="text">

                </div>
                <div>
                    <h4 id="item-2">Xác định yêu cầu</h4>
                    <p>...</p>
                </div>
                <div>
                    <h4 id="item-3">Phân tích và thiết kế hệ thống</h4>
                    <p>...</p>
                </div>

                <div>
                    <h4 id="item-4">Lập trình và kiểm thử</h4>
                    <p>...</p>
                </div>

                <div>
                    <h4 id="item-4-1">Lập trình</h4>
                    <p>...</p>
                </div>

                <div>
                    <h4 id="item-4-2">Kiểm thử</h4>
                    <p>...</p>
                </div>

            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-dark" id="offcanvasRightLabel">Tài liệu tham khảo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p class="text-dark">
                        Thiết kế luồng dữ liệu (Data Flow Diagram): Thiết kế này sử dụng các biểu đồ để mô tả cách dữ
                        liệu đi qua hệ thống và cách nó được xử lý. Biểu đồ này bao gồm các đối tượng là nguồn dữ liệu,
                        sự xử lý dữ liệu, và đích dữ liệu, và các đường dẫn giữa chúng mô tả cách dữ liệu đi qua hệ
                        thống.
                    </p>
                </div>
            </div>


        </div>
    </div>
    {% include 'macros/footer.html' %}
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/bold-and-dark.js"></script>
</body>

</html>